/*
Evita que se formen bordes sin estilo del contenedor de html
*/
* {
    padding: 0;
    margin: 0;
}

/*
divide todo el cuerpo de la pagina en 3 filas y una columna (header, main, footer)
aparte no permite que se pueda scrollear en la pagina
*/
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 100% 15%;
    overflow: hidden;
}

/*
divide la cabezera en 9 columnas y una fila para poder crear una cabezera con imagenes
*/
header {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}


/*
divide la última sección de la página en 5 columnas y una fila para poder crear una cabezera con imagenes
*/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

/*
hace que si hay un fallo con el dni en la ventana de Login, esta marque un texto de color rojo
*/
#dni_error {
    color: red;
}

/*
hace que si hay un fallo con la contraseña en la ventana de Login, esta marque un texto de color rojo
*/
#password_error {
    color: red;
}

/*
le da estilo a la seccion main, centrando los objetos y dandole un color de fondo especifico
*/
main {
    padding-bottom: 5%;
    padding-top: 4%;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 2;
    background-image: linear-gradient(to bottom right, #F0F0F0, #A8FFC1);
}

#menuProfesor ul{
    list-style:none;
    margin:0;
    padding:0;
}

#menuProfesor ul li {
    background-color: white;
}

#menuProfesor ul a {
    display:block;
    color:rgb(24, 24, 24);
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}


#menuProfesor ul li {
    position:relative;
    display: inline-block;
    margin:0;
    padding:0;
}

#menuProfesor ul li:hover {
    background:#5b78a7;
}

#menuProfesor ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
}

#menuProfesor ul ul li {
    float:none;
    width:100%
}

#menuProfesor ul ul a {
    line-height:120%;
    padding:10px 15px;
}

#menuProfesor ul li:hover > ul {
    display:block;
}

/*
se encarga de cambiar la fuente de los enunciados, dandole un formato en negrita y en cursiva además, cambiando el tamaño y el color 
*/
h1 {
    font-family: 'Courgette', cursive;
    font-weight: bold;
    font-size: 650%;
    font-style: italic;
    color: rgb(24, 24, 24);
}

/*
le da una altura a los formularios
*/
form {
    height: 50%;
}

/*
se encarga de personalizar los campos de los formularios dandoles tamaño y posicionandolos
*/
input {
    font-size: 100%;
    outline: none;
    width: 40%;
    height: 25%;
    margin-bottom: 1%;
}

/*
crea la cabezera dandole imagenes a cada segmento
*/
#img_header0,
#img_header1,
#img_header2,
#img_header3,
#img_header5,
#img_header6,
#img_header7,
#img_header8 {
    padding-top: 0;
    background-image: url("Fondo.png");
    background-size: 100%;

}

/*
crea la seccion central cabezera donde se introduce el logo
*/
#img_header4 {
    padding-top: 0;
    background-image: url("Logo.png");
    background-size: 90%;
    background-position: center;
}

/*
crea la seccion inferior dandole imagenes a cada segmento
*/
#img_footer0,
#img_footer1,
#img_footer2,
#img_footer3,
#img_footer4,
#img_footer5 {
    padding-top: 0;
    background-image: url("Fondo.png");
    background-size: 100%;
}

/*
especifico del input con id usuario
*/
#usuario {
    margin-top: 4%;
}

/*
especifico del input con id password
*/
#password {
    margin-top: 1%;
}

/*
especifico del input con id acceder, situado en la pagina Login dándole un estilo personalizado
*/
#acceder {
    margin-top: 2%;
    margin-bottom: 7%;
    font-size: 100%;
    outline: none;
    width: 15%;
    height: 25%;
    border: solid 2px #78C48D;
    border-radius: 50px;
    background-color: #a7fabe;
}
.Modificar{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 100%;
    outline: none;
    width: 10%;
    height: 10%;
    border: solid 2px #78C48D;
    border-radius: 50px;
    background-color: #a7fabe;
    color: rgb(24, 24, 24);    
}
.inputEditUsVolver{
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: 100%;
        outline: none;
        width: 10%;
        height: 6%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
        color: rgb(24, 24, 24);
}
/*
especifico del radio button del test dándole un estilo personalizado cambiando tamaño, formato...
*/
.labels{
    text-align: center;
}
.testH3{
    text-align: center;
}
.radio{
    justify-content: center;
    margin-left: 45%;
    margin-right: 45%;
    float: left;
    margin-top: 1%;
    width: 10%;
    height: 10%;
    outline: none;
}
.radioRev{
    justify-content: center;
    margin-left: 45%;
    margin-right: 45%;
    float: left;
    margin-top: 1%;
    width: 10%;
    height: 3%;
    outline: none;
}
.listaBody{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 175px 100% 20%;
    overflow: scroll;

}
/*
especifico del botón Siguiente del test dándole un estilo personalizado cambiando color, formato...
*/
#Siguiente{
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 100%;
    outline: none;
    width: 10%;
    height: 20%;
    border: solid 2px #78C48D;
    border-radius: 50px;
    background-color: #a7fabe;
    color: rgb(24, 24, 24);
}
/*
especifico del botón Salir del test dándole un estilo personalizado cambiando color, formato...
*/
.Salir{
    margin-top: 1.5%;
    font-size: 100%;
    outline: none;
    width: 10%;
    height: 10%;
    border: solid 2px #78C48D;
    border-radius: 50px;
    background-color: #a7fabe;
    color: rgb(24, 24, 24);
}
/*
especifico de todos los input que sean de tipo boton, dándole un estilo personalizado cambiando color, formato...
*/
input[type='button'] {
    margin-top: 2%;
    margin-bottom: 7%;
    font-size: 100%;
    outline: none;
    width: 15%;
    height: 15%;
    border: solid 2px #78C48D;
    border-radius: 50px;
    background-color: #a7fabe;
    color: rgb(24, 24, 24);
}

/*
especifico del main con clase mainAdmin, dándole espacio en la parte superior e inferior del main
*/
main.mainAdmin {
    padding-bottom: 3%;
    padding-top: 1.5%;
}

/*
especifico de todos los input que tengan la clase admin, dándole un estilo personalizado cambiando tamaño y posicion
*/
input.admin {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 30%;
    height: 15%;
}

/*
especifico de todos los input que pertenezcan a la clas adminSalir, dándole un estilo personalizado cambiando tamaño y posicion
*/
input.adminSalir {
    margin-top: 2.5%;
    margin-bottom: 8.5%;
    width: 15%;
    height: 15%;

}

/*
estilo propio de los enunciados h1 que pertenezcan a la clase adminH1
*/
h1.adminH1 {
    margin-bottom: 2%;
}

/*
especifico del main con clase adminTopMain, dándole espacio en la parte superior e inferior del main
*/
main.adminTopMain {
    padding-bottom: 3%;
    padding-top: 1.5%;
}

/*
especifico de todos los input que tengan la clase adminTop, dándole un estilo personalizado cambiando tamaño y posicion
*/
input.adminTop {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 30%;
    height: 15%;
}

/*
especifico de todos los input que pertenezcan a la clas adminTopSalir, dándole un estilo personalizado cambiando tamaño y posicion
*/
input.adminTopSalir {
    margin-top: 2.5%;
    margin-bottom: 8.5%;
    width: 15%;
    height: 15%;

}

/*
estilo propio de los enunciados h1 que pertenezcan a la clase adminTopH1
*/
h1.adminTopH1 {
    margin-bottom: 2%;
}

/*
especifico del main con clase alumnoMain, dándole espacio en la parte superior e inferior del main
*/
main.alumnoMain {
    padding-bottom: 3%;
    padding-top: 5%;
}

/*
especifico de todos los input que tengan la clase alumno, dándole un estilo personalizado cambiando tamaño y posicion
*/
input.alumno {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 30%;
    height: 15%;
}

/*
especifico de todos los input que pertenezcan a la clas alumnoSalir, dándole un estilo personalizado cambiando tamaño y posicion
*/
input.alumnoSalir {
    margin-top: 2.5%;
    margin-bottom: 8.5%;
    width: 15%;
    height: 15%;

}

/*
estilo propio de los enunciados h1 que pertenezcan a la clase alumnoH1
*/
h1.alumnoH1 {
    margin-bottom: 2%;
}

/*
especifico del main con clase profesorMain, dándole espacio en la parte superior e inferior del main
*/
main.profesorMain {
    padding-bottom: 3%;
    padding-top: 1.5%;
}

/*
especifico de todos los input que tengan la clase profesor, dándole un estilo personalizado cambiando tamaño y posicion
*/
input.profesor {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 30%;
    height: 15%;
}

/*
especifico de todos los input que pertenezcan a la clas profesorSalir, dándole un estilo personalizado cambiando tamaño y posicion
*/
input.profesorSalir {
    margin-top: 2.5%;
    margin-bottom: 8.5%;
    width: 15%;
    height: 15%;

}

/*
estilo propio de los enunciados h1 que pertenezcan a la clase profesorH1
*/
h1.profesorH1 {
    margin-bottom: 2%;
}

/*
especifico del main con clase Gestion, dándole espacio en la parte superior e inferior del main
*/
main.Gestion {
    padding-bottom: 3%;
    padding-top: 3%;
}

/*
especifico de todos los input que tengan la clase Ginput, dándole un estilo personalizado cambiando tamaño y posicion
*/
input.Ginput {
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 30%;
    height: 15%;
}

/*
especifico de todos los input que pertenezcan a la clas GinputSalir, dándole un estilo personalizado cambiando tamaño y posicion
*/
input.GinputSalir {
    margin-top: 3%;
    margin-bottom: 12%;
    width: 15%;
    height: 15%;
}

/*
especifico del main con clase Gestion2, dándole espacio en la parte superior e inferior del main
*/
main.Gestion2 {
    padding-bottom: 3%;
    padding-top: 3%;
}

/*
especifico de todos los input que tengan la clase Ginput2, dándole un estilo personalizado cambiando tamaño y posicion
*/
input.Ginput2 {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 30%;
    height: 15%;
}

/*
especifico de todos los input que pertenezcan a la clas GinputSalir2, dándole un estilo personalizado cambiando tamaño y posicion
*/
input.GinputSalir2 {
    margin-top: 3%;
    margin-bottom: 12%;
    width: 15%;
    height: 15%;
}

/*
especifico del main con clase crudMainUsuario, dándole espacio en la parte superior e inferior del main
*/
main.crudMainUsuario {
    padding-bottom: 3%;
    padding-top: 3%;
}

/*
especifico de todos los input que tengan la clase inputUs, dándole un estilo personalizado cambiando tamaño y posicion
*/
input.inputUs {
    font-size: 100%;
    outline: none;
    width: 40%;
    height: 20%;
    margin-top: 1%;
    margin-bottom: 0;
    margin-right: 1%;
}

/*
especifico de todos los input que tengan la clase inputUsEnviar, dándole un estilo personalizado cambiando tamaño, posicion y color
*/
input.inputUsEnviar {
    margin-top: 4%;
    margin-bottom: 1%;
    font-size: 100%;
    outline: none;
    width: 15%;
    height: 25%;
    border: solid 2px #78C48D;
    border-radius: 50px;
    background-color: #a7fabe;
}

/*
especifico de todos los input que tengan la clase inputUsVolver, dándole un estilo personalizado cambiando tamaño, posicion y color
*/
input.inputUsVolver {
    margin-top: 2%;
    margin-bottom: 8%;
    font-size: 100%;
    outline: none;
    width: 10%;
    height: 25%;
    border: solid 2px #78C48D;
    border-radius: 50px;
    background-color: #a7fabe;
}

/*
especifico del main con clase crudMain, dándole espacio en la parte superior e inferior del main
*/
main.crudMain {
    padding-bottom: 3%;
    padding-top: 3%;
}

/*
especifico de todos los input que tengan la clase inputGr, dándole un estilo personalizado cambiando tamaño y posicion
*/
input.inputGr {
    font-size: 100%;
    outline: none;
    width: 40%;
    height: 15%;
    margin-top: 1%;
    margin-bottom: 0;
    margin-right: 1%;
}

/*
especifico de todos los input que tengan la clase inputGrEnviar, dándole un estilo personalizado cambiando tamaño, posicion y color
*/
input.inputGrEnviar {
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 100%;
    outline: none;
    width: 15%;
    height: 25%;
    border: solid 2px #78C48D;
    border-radius: 50px;
    background-color: #a7fabe;
}

/*
especifico de todos los input que tengan la clase inputGrVolver, dándole un estilo personalizado cambiando tamaño, posicion y color
*/
input.inputGrVolver {
    margin-top: 2%;
    margin-bottom: 8%;
    font-size: 100%;
    outline: none;
    width: 10%;
    height: 25%;
    border: solid 2px #78C48D;
    border-radius: 50px;
    background-color: #a7fabe;
}

/*
especifico las paginas listar, cambiando el tamaño de las 3 filas que se generan con grid, y permiten hacer scroll
*/
body.listarBody {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 175px 100% 20%;
    overflow: visible;
}

/*
se encarga de recoger todos los elementos que no sean ni header ni footer en las paginas listar, dándole un fondo personalizado y posicionandolo
*/
div.listTodo {
    background-image: linear-gradient(to bottom right, #F0F0F0, #A8FFC1);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 0;
    height: 100%;
}

/*
le da estilo a los elementos table posicionandolos, dándoles un tamaño y configurando el borde
*/
table {
    align-self: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 10%;
    border-spacing: 0;
    border: solid 1px rgb(24, 24, 24);
}

/*
cambia el estilo de la primera fila de la tabla, almacenada en un elemento thead, se aplica un estilo de negrita y mas tamaño de la letra
*/
thead {
    font-weight: bold;
    font-size: 200%;
}

/*
genera bordes en los elementos tr
*/
tr {
    border: solid 1px rgb(24, 24, 24);
}

/*
genera bordes en los elementos td
*/
td {
    border: solid 1px rgb(24, 24, 24);
}

/*
cambia el posicionamiento de los input pertenecientes a la clase buttonList dentro de las páginas listar
*/
input.buttonList {
    height: 35px;
    width: 35px;
    border-radius: 0%;
    align-items: center;
    text-align: center;
    align-self: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*
cambia el tamaño y la posicion de los input pertenecientes a la clase volverListUs dentro de las páginas listar
*/
input.volverListUs {
    height: 4%;
    width: 10%;
    margin-top: 10%;
}

/*
aplica un tamaño fijo a los footer pertenecientes a la clase listFoot en las páginas listar 
*/
footer.listFoot {
    height: 150px;
}

/*
aplica estilo a los input pertenecientes a la clase inputEditUs cambiando el tamaño y el posicionamiento
*/
input.inputEditUs {
    font-size: 100%;
    outline: none;
    width: 60%;
    height: 20%;
    margin-bottom: 1%;
    margin-top: 0;
}

/*
cambia el tamaño de la fuente y el posicionamiento de los enunciados h1 pertenecientes a la clase h1EditUs
*/
h1.h1EditUs {
    font-size: 400%;
    margin-top: 0;
    margin-bottom: 3%;
}

/*
cambia el formato, colores y posicion de los input con clase inputEditUsEnviar
*/
input.inputEditUsEnviar {
    margin-top: 2%;
    margin-bottom: 13%;
    font-size: 100%;
    outline: none;
    width: 15%;
    height: 25%;
    border: solid 2px #78C48D;
    border-radius: 50px;
    background-color: #a7fabe;
    color: rgb(24, 24, 24);
}

/*
especifico del main con clase mainEditUs, dándole espacio en la parte superior e inferior del main
*/
main.mainEditUs {
    padding-bottom: 1.5%;
    padding-top: 1.5%;
}

/*
especifico del main con clase mainEditC, dándole espacio en la parte superior e inferior del main
*/
main.mainEditC {
    padding-bottom: 3%;
    padding-top: 3%;
}

.menuAdmin ul {
    list-style:none;
    margin:0;
    padding:0;
}
   
   /* items del menu */
   
.menuAdmin ul li {
    background-color: white;
}
   
   /* enlaces del menu */
   
.menuAdmin ul a {
    display:block;
    color: black;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}
   
   /* items del menu */
   
.menuAdmin ul li {
    position:relative;
    display: inline-block;
    margin:0;
    padding:0;
}
   
   /* efecto al pasar el ratón por los items del menu */
   
.menuAdmin ul li:hover {
    background:#5b78a7;
}

form.formEquipos{
    height: 25%;
}

.menuAdmin ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
   }
   
   /* items del menu desplegable */
   
   .menuAdmin ul ul li {
    float:none;
    width:100%;
   }
   
   /* enlaces de los items del menu desplegable */
   
   .menuAdmin ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   .menuAdmin ul li:hover > ul {
    display:block;
   }

   .menuAdmin{
    padding-bottom: 2%;
}

.menuAdminTop ul {
    list-style:none;
    margin:0;
    padding:0;
}
   
   /* items del menu */
   
.menuAdminTop ul li {
    background-color:white;
}
   
   /* enlaces del menu */
   
.menuAdminTop ul a {
    display:block;
    color: black;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}
   
   /* items del menu */
   
.menuAdminTop{
       padding-bottom: 2%;
   }

.menuAdminTop ul li {
    position:relative;
    display: inline-block;
    margin:0;
    padding:0;
}
   
   /* efecto al pasar el ratón por los items del menu */
   
.menuAdminTop ul li:hover {
    background:#5b78a7;
}

.menuAdminTop ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
   }
   
   /* items del menu desplegable */
   
   .menuAdminTop ul ul li {
    float:none;
    width:100%;
   }
   
   /* enlaces de los items del menu desplegable */
   
   .menuAdminTop ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   .menuAdminTop ul li:hover > ul {
    display:block;
   }

/*
especifico de un formulario con id especialForm, cambiando la altura del form
*/
form#especialForm{
    height: 5%;
}

select.genEquipos{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 20%;
    width: 40%;
}

input.genEquiposButtonSalir{
    
    margin-top: 10%;
    margin-bottom: 5%;
    width: 15%;
    height: 10%;

}

input.genEquiposButton{
    width: 25%;
    height: 25%;
    border: solid 2px #78C48D;
    border-radius: 50px;
    background-color: #a7fabe;
    color: rgb(24, 24, 24);
}

input.TeamButton{

    font-size: 100%;
    outline: none;
    width: 20%;
    height: 7%;
    margin-top: 1%;
    margin-bottom: 0;
    margin-right: 1%;

}

input.buttonList2{
    font-size: 100%;
    outline: none;
    width: 25%;
    height: 5%;
    margin-top: 1%;
    margin-bottom: 0;
    margin-right: 1%;
}
input.buttonList3{
    font-size: 100%;
    outline: none;
    width: 25%;
    height: 50%;
    margin-top: 1%;
    margin-bottom: 0;
    margin-right: 1%;
    border: solid 2px #78C48D;
    border-radius: 50px;
    background-color: #a7fabe;
    color: rgb(24, 24, 24);
}

.menuMovil{
    display: none;
}

#navMovil{
    display: none;
}

/*
*Mediaquery diseñada para pantallas con un mínimo de 200px y un máximo de 577px de ancho
*/
@media only screen and (min-width: 200px) and (max-width: 577px) {

    /*
        Impide la creación de bordes sin estilo en toda la página
    */
    * {
        padding: 0;
        margin: 0;
    }

    /*
        Se bloquea el scroll de la página web para que se ajuste al completo el tamaño de la páginay se divide en 3 filas de distinto tamaño con el grid
    */
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3.5fr 15fr 2.5fr;
        overflow: scroll;
    }

    /*
        Se ajusta a la parte superior y divide la cabecera en 3 columnas de igual tamaño
    */
    header {
        padding-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    /*
        Se divide en 6 columnas para el estilo de fondo
    */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    /*
        Si el dni da error, sale en color rojo
    */
    #dni_error {
        color: red;
    }

    /*
        Si la contraseña da error, sale en color rojo
    */
    #password_error {
        color: red;
    }

    /*
        Centra el texto, ajusta los objetos y le da una imagen de fondo
    */
    main {

        padding-bottom: 38%;
        padding-top: 20%;
        text-align: center;
        grid-row-start: 2;
        grid-row-end: 2;
        background-image: linear-gradient(to bottom right, #F0F0F0, #A8FFC1);

    }

    /*
        Estilo de letra y distintas propiedades de la misma
    */
    h1 {
        font-family: 'Courgette', cursive;
        font-weight: bold;
        font-size: 300%;
        font-style: italic;
        color: rgb(24, 24, 24);
        margin-bottom: 5%;
    }

    /*
        Altura del formulario
    */
    form {
        height: 50%;
    }

    /*
        Forma y estilos de los botones y los inputs de tipo texto
    */
    input {
        font-size: 75%;
        outline: none;
        width: 75%;
        height: 20%;
        margin-bottom: 1%;
    }

    /*
        Imagen de fondo de la cabecera, color difuminado
    */
    #img_header0,
    #img_header2 {
        padding-top: 0;
        background-image: url("Fondo.png");
        background-size: 100%;
    }

    /*
        Imagen del centro en la que está el logo de la empresa
    */
    #img_header1 {
        padding-top: 0;
        background-image: url("Logo.png");
        background-size: 90%;
        background-position: center;
    }

    /*
        Fondo del pie de página
    */
    #img_footer0,
    #img_footer1,
    #img_footer2,
    #img_footer3,
    #img_footer4,
    #img_footer5 {
        padding-top: 0;
        background-image: url("Fondo.png");
        background-size: 100%;
    }

    /*
        Se ajusta al sitio donde queremos que esté en la página el introducir el ususario en el login
    */
    #usuario {
        margin-top: 7.5%;
    }

    /*
        Se ajusta al sitio donde queremos que esté en la página el introducir la contraseña en el login
    */
    #password {
        margin-top: 3.5%;
    }

    /*
        Se ajusta al sitio donde queremos que esté en la página el botón de acceder en el login con sus estilos
    */
    #acceder {
        margin-top: 10%;
        font-size: 100%;
        outline: none;
        width: 40%;
        height: 30%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }

    /*
        Se aplica al main de la clase Administrador
    */
    main.mainAdmin {
        padding-bottom: 15%;
        padding-top: 15%;
    }

    /*
        Se aplica a los inputs de la clase Administrador
    */
    input.admin {
        margin-top: 10%;
        margin-bottom: 5%;
        width: 60%;
        height: 10%;
    }

    /*
        Se aplica al input de salir de la clase Administrador
    */
    input.adminSalir {
        margin-top: 25%;
        margin-bottom: 15%;
        width: 40%;
        height: 10%;

    }

    /*
        Se aplica al titulo un margin del 2% por debajo
    */
    h1.adminH1 {
        margin-bottom: 2%;
    }

    /*
        Se aplica al main de la clase AdminTop
    */
    main.adminTopMain {
        padding-bottom: 15%;
        padding-top: 0%;
    }

    /*
        Se aplica a los inputs de la clase AdminTop
    */
    input.adminTop {
        margin-top: 2.5%;
        margin-bottom: 5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 60%;
        height: 10%;
        font-size: 75%;
    }

    /*
        Se aplica al input de salir de la clase AdminTop
    */
    input.adminTopSalir {
        margin-top: 7.5%;
        margin-bottom: 25%;
        width: 40%;
        height: 10%;

    }

    /*
        Se aplica al titulo un margin del 2% por debajo
    */
    h1.adminTopH1 {
        margin-bottom: 2%;
    }

    /*
        Se aplica al main de la clase Alumno
    */
    main.alumnoMain {
        padding-bottom: 15%;
        padding-top: 15%;
    }

    /*
        Se aplica a los inputs de la clase Alumno
    */
    input.alumno {
        margin-top: 10%;
        margin-bottom: 5%;
        width: 60%;
        height: 10%;
    }

    /*
        Se aplica al input de salir de la clase Alumno
    */
    input.alumnoSalir {
        margin-top: 25%;
        margin-bottom: 15%;
        width: 40%;
        height: 10%;

    }

    /*
        Se aplica al titulo un margin del 2% por debajo
    */
    h1.alumnoH1 {
        margin-bottom: 2%;
    }

    /*
        Se aplica al main de la clase Profesor
    */
    main.profesorMain {
        padding-bottom: 15%;
        padding-top: 10%;
    }

    /*
        Se aplica a los inputs de la clase Profesor
    */
    input.profesor {
        margin-top: 2.5%;
        margin-bottom: 5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 60%;
        height: 10%;
    }

    /*
        Se aplica al input de salir de la clase Profesor
    */
    input.profesorSalir {
        margin-top: 7.5%;
        margin-bottom: 25%;
        width: 40%;
        height: 10%;

    }

    /*
        Se aplica al titulo un margin del 2% por debajo
    */
    h1.profesorH1 {
        margin-bottom: 2%;
    }

    /*
        Se aplica al main con la clase Gestion
    */
    main.Gestion {
        padding-bottom: 30%;
        padding-top: 20%;
    }

    /*
        Se aplica a los inputs con la clase Ginput
    */
    input.Ginput {
        margin-top: 5%;
        margin-bottom: 6%;
        width: 60%;
        height: 20%;
    }

    /*
        Se aplica al input de salir con la clase GinputSalir
    */
    input.GinputSalir {
        margin-top: 25%;
        margin-bottom: 20%;
        width: 40%;
        height: 20%;
    }

    /*
        Se aplica a los inputs con la clase Gestion2
    */
    main.Gestion2 {
        padding-bottom: 30%;
        padding-top: 20%;
    }

    /*
        Se aplica a los inputs con la clase Ginput2
    */
    input.Ginput2 {
        margin-top: 1%;
        margin-bottom: 6%;
        width: 60%;
        height: 20%;
    }

    /*
        Se aplica al input de salir con la clase GinputSalir2
    */
    input.GinputSalir2 {
        margin-top: 20%;
        margin-bottom: 20%;
        width: 40%;
        height: 20%;
    }

    /*
        Se aplica a los h1 de los Cruds
    */
    h1.crudH1 {
        margin-bottom: 0;
        font-size: 300%
    }

    /*
        Se aplica a los main del Crud Usuario
    */
    main.crudMainUsuario {
        padding-bottom: 25%;
        padding-top: 5%;
    }

    /*
        Se aplica a los input de la pagina de usuario
    */
    input.inputUs {
        font-size: 100%;
        outline: none;
        width: 70%;
        height: 15%;
        margin-top: 5%;
        margin-bottom: 0;
        margin-right: 1%;
    }

    /*
        Se aplica al input Enviar de la pagina de usuario
    */
    input.inputUsEnviar {
        margin-top: 10%;
        margin-bottom: 1%;
        font-size: 100%;
        outline: none;
        width: 45%;
        height: 15%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }

    /*
        Se aplica al input Volver de la pagina de usuario
    */
    input.inputUsVolver {
        margin-top: 5%;
        margin-bottom: 8%;
        font-size: 100%;
        outline: none;
        width: 30%;
        height: 15%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }

    /*
        Se aplica al main de los Cruds
    */
    main.crudMain {
        padding-bottom: 30%;
        padding-top: 10%;
    }

    /*
        Se aplica a los input en el Crud de Grupos
    */
    input.inputGr {
        font-size: 100%;
        outline: none;
        width: 70%;
        height: 20%;
        margin-top: 5%;
        margin-bottom: 0;
        margin-right: 1%;
    }

    /*
        Este estilo es para el boton enviar del crud de grupos
    */
    input.inputGrEnviar {
        margin-top: 10%;
        margin-bottom: 1%;
        font-size: 100%;
        outline: none;
        width: 45%;
        height: 20%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }

    /*
        Este estilo es para el boton volver del crud de grupos
    */
    input.inputGrVolver {
        margin-top: 5%;
        margin-bottom: 8%;
        font-size: 100%;
        outline: none;
        width: 30%;
        height: 20%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }

    /*
        Le da estilo a las listas de los cruds
    */
    body.listarBody {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 150px 100% 20%;
        overflow: visible;
    }

    /*
        Le da estilo a los divs en el que están las listas de los cruds
    */
    div.listTodo {
        background-image: linear-gradient(to bottom right, #F0F0F0, #A8FFC1);
        text-align: center;
        padding-top: 5%;
        padding-bottom: 0;
        height: 100%;
        align-items: center;
    }

    /*
        Le da estilo a las tablas en el que están las listas de los cruds
    */
    table.table {
        align-self: center;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        width: 50%;
        height: 10%;
        border-spacing: 0;
        border: solid 1px rgb(24, 24, 24);
    }

    /*
        Le da estilo a las tablas en el que están las listas de la clase ListarAdmin
    */
    table#tableAdmin {
        margin-left: 4%;
        margin-right: 4%;
        font-size: 90%;
    }

    /*
        Le da estilo a las tablas en el que están las listas de la clase ListarCentro
    */
    table#tableCentro {
        margin-left: 10%;
        margin-right: 10%;
    }

    /*
        Le da estilo a las tablas en el que están las listas de la clase ListarCurso
    */
    table#tableCurso {
        margin-left: 16%;
        margin-right: 16%;
    }

    /*
        Le da estilo a los thead de los cruds
    */
    thead {
        font-weight: bold;
        font-size: 100%;
    }

    /*
        Le da estilo a los tr de los cruds
    */
    tr {
        border: solid 1px rgb(24, 24, 24);
    }

    /*
        Le da estilo a los td de los cruds
    */
    td {
        border: solid 1px rgb(24, 24, 24);
    }

    /*
        Le da estilo al boton de la lista
    */
    input.buttonList {
        height: 35px;
        width: 35px;
        border-radius: 0%;
        align-items: center;
        text-align: center;
        align-self: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /*
        Le da estilo al botón volver de la lista
    */
    input.volverListUs {
        height: 10%;
        width: 30%;
        margin-top: 10%;
    }

    /*
        Le da estilo al footer de la lista
    */
    footer.listFoot {
        height: 100px;
    }

    /*
        Le da estilo a los input de editar de la pagina editar usuario
    */
    input.inputEditUs {
        font-size: 100%;
        outline: none;
        width: 60%;
        height: 20%;
        margin-bottom: 1%;
        margin-top: 2%;
    }

    /*
        Le da estilo a los h1 de la pagina editar usuario
    */
    h1.h1EditUs {
        font-size: 200%;
        margin-top: 0;
        margin-bottom: 10%;
    }

    /*
        Le da estilo al input de enviar de la pagina editar usuario
    */
    input.inputEditUsEnviar {
        margin-top: 2%;
        margin-bottom: 13%;
        font-size: 100%;
        outline: none;
        width: 30%;
        height: 30%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
        color: rgb(24, 24, 24);
    }

    /*
        Le da estilo al main de la pagina editar usuario
    */
    main.mainEditUs {
        padding-bottom: 20%;
        padding-top: 20%;
    }

    /*
        Le da estilo al main de la pagina editar centro
    */
    main.mainEditC {
        padding-bottom: 25%;
        padding-top: 25%;
    }
}

/*
*Mediaquery diseñada para pantallas con un mínimo de 579px y un máximo de 872px de ancho
*/
@media only screen and (min-width: 578px) and (max-width: 872px) {

    /*Hace que no se creen bordes sin estilo*/
    * {
        padding: 0;
        margin: 0;
    }

    /*Divide el body en 3 filas además de hablitar el scroll*/
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3.5fr 15fr 2.5fr;
        overflow: scroll;
    }

    /*Ajusta el header y lo divide en 3 columnas*/
    header {
        padding-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    /*Divide el footer en 6 columnas*/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    /*Si el dni es erroneo, lo pone color rojo*/
    #dni_error {
        color: red;
    }

    /*Si la contraseña es erronea, lo pone color rojo*/
    #password_error {
        color: red;
    }

    /*Ajusta el apartado de main, centra el texto y le da una imágen de fondo*/
    main {

        padding-bottom: 34%;
        padding-top: 20%;
        text-align: center;
        grid-row-start: 2;
        grid-row-end: 2;
        background-image: linear-gradient(to bottom right, #F0F0F0, #A8FFC1);

    }

    /*Le da un estilo de letra, color y tamaño a el h1, además de ajustarlo */
    h1 {
        font-family: 'Courgette', cursive;
        font-weight: bold;
        font-size: 300%;
        font-style: italic;
        color: rgb(24, 24, 24);
        margin-bottom: 5%;
    }

    /*Ajusta la altura del form*/
    form {
        height: 50%;
    }

    /*Ajusta el estilo de los input*/
    input {
        font-size: 75%;
        outline: none;
        width: 75%;
        height: 20%;
        margin-bottom: 1%;
    }

    /*Da estilo a las imágenes que componen el fondo del header*/
    #img_header0,
    #img_header2 {
        padding-top: 0;
        background-image: url("Fondo.png");
        background-size: 100%;
    }

    /*Da estilo a las imágenes que componen el logo del header*/
    #img_header1 {
        padding-top: 0;
        background-image: url("Logo.png");
        background-size: 90%;
        background-position: center;
    }

    /*Da estilo a las imágenes que componen el fondo del footer*/
    #img_footer0,
    #img_footer1,
    #img_footer2,
    #img_footer3,
    #img_footer4,
    #img_footer5 {
        padding-top: 0;
        background-image: url("Fondo.png");
        background-size: 100%;
    }

    /*Ajusta el apartado de usuario en el login*/
    #usuario {
        margin-top: 7.5%;
    }

    /*Ajusta el apartado de la contraseña en el login*/
    #password {
        margin-top: 3.5%;
    }

    /*Ajusta y da estilo a el apartado de acceder en el login*/
    #acceder {
        margin-top: 10%;
        font-size: 100%;
        outline: none;
        width: 40%;
        height: 30%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }

    /*Ajusta la sección de main en la página de Administrador*/
    main.mainAdmin {
        padding-bottom: 15%;
        padding-top: 10%;
    }

    /*Ajusta los inputs en la página de Administrador*/
    input.admin {
        margin-top: 10%;
        margin-bottom: 5%;
        width: 60%;
        height: 10%;
    }

    /*Ajusta el input salir en la página de Administrador*/
    input.adminSalir {
        margin-top: 25%;
        margin-bottom: 15%;
        width: 40%;
        height: 10%;

    }

    /*Ajusta el h1 de la página de Administrador*/
    h1.adminH1 {
        margin-bottom: 2%;
    }

    /*Ajusta la sección de main en la página de Admin Top*/
    main.adminTopMain {
        padding-bottom: 15%;
        padding-top: 5%;
    }

    /*Ajusta los inputs en la página de Admin Top*/
    input.adminTop {
        margin-top: 2.5%;
        margin-bottom: 5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 60%;
        height: 10%;
    }

    /*Ajusta el input salir en la página de Admin Top*/
    input.adminTopSalir {
        margin-top: 7.5%;
        margin-bottom: 25%;
        width: 40%;
        height: 10%;

    }

    /*Ajusta el h1 de la página de Admin Top*/
    h1.adminTopH1 {
        margin-bottom: 2%;
    }

    /*Ajusta la sección de main en la página de Alumno*/
    main.alumnoMain {
        padding-bottom: 15%;
        padding-top: 10%;
    }

    /*Ajusta los inputs en la página de Alumno*/
    input.alumno {
        margin-top: 10%;
        margin-bottom: 5%;
        width: 60%;
        height: 10%;
    }

    /*Ajusta el input salir en la página de Alumno*/
    input.alumnoSalir {
        margin-top: 25%;
        margin-bottom: 15%;
        width: 40%;
        height: 10%;

    }

    /*Ajusta el h1 de la página de Alumno*/
    h1.alumnoH1 {
        margin-bottom: 2%;
    }

    /*Ajusta la sección de main en la página de Profesor*/
    main.profesorMain {
        padding-bottom: 15%;
        padding-top: 5%;
    }

    /*Ajusta los inputs en la página de Profesor*/
    input.profesor {
        margin-top: 2.5%;
        margin-bottom: 5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 60%;
        height: 10%;
    }

    /*Ajusta el input salir en la página de Profesor*/
    input.profesorSalir {
        margin-top: 7.5%;
        margin-bottom: 25%;
        width: 40%;
        height: 10%;

    }

    /*Ajusta el h1 de la página de Profesor*/
    h1.profesorH1 {
        margin-bottom: 2%;
    }

    /*Ajusta la sección de main con id Gestion*/
    main.Gestion {
        padding-bottom: 30%;
        padding-top: 20%;
    }

    /*Ajusta los inputs con id Ginput*/
    input.Ginput {
        margin-top: 1%;
        margin-bottom: 6%;
        width: 60%;
        height: 20%;
    }

    /*Ajusta los inputs con id GinputSalir*/
    input.GinputSalir {
        margin-top: 20%;
        margin-bottom: 20%;
        width: 40%;
        height: 20%;
    }

    /*Ajusta el h1 de todos los cruds*/
    h1.crudH1 {
        margin-bottom: 0;
        font-size: 300%
    }

    /*Ajusta el bloque main del crud usuario*/
    main.crudMainUsuario {
        padding-bottom: 25%;
        padding-top: 5%;
    }

    /*Ajusta los inputs de Usuario*/
    input.inputUs {
        font-size: 100%;
        outline: none;
        width: 70%;
        height: 15%;
        margin-top: 5%;
        margin-bottom: 0;
        margin-right: 1%;
    }

    /*Ajusta el boton de enviar de la pagina de usuario*/
    input.inputUsEnviar {
        margin-top: 10%;
        margin-bottom: 1%;
        font-size: 100%;
        outline: none;
        width: 45%;
        height: 15%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }

    /*Ajusta el boton volver de la pagina de usuario*/
    input.inputUsVolver {
        margin-top: 5%;
        margin-bottom: 8%;
        font-size: 100%;
        outline: none;
        width: 30%;
        height: 15%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }

    /*Ajusta los bloques main de los cruds*/
    main.crudMain {
        padding-bottom: 30%;
        padding-top: 10%;
    }

    /*Ajusta los input de el crud de grupos*/
    input.inputGr {
        font-size: 100%;
        outline: none;
        width: 70%;
        height: 20%;
        margin-top: 5%;
        margin-bottom: 0;
        margin-right: 1%;
    }

    /*Ajusta el boton enviar del crud de grupos*/
    input.inputGrEnviar {
        margin-top: 10%;
        margin-bottom: 1%;
        font-size: 100%;
        outline: none;
        width: 45%;
        height: 20%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }

    /*Ajusta el boton volver del crud de grupos*/
    input.inputGrVolver {
        margin-top: 5%;
        margin-bottom: 8%;
        font-size: 100%;
        outline: none;
        width: 30%;
        height: 20%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }
}

/*
Mediaquery utilizada para moviles en horizontal, tablets y ventanas minimizadas
*/
@media only screen and (min-width: 873px) and (max-width: 1152px) {

    /*Estos ajustes se aplican a toda la paǵina para evitar que se formen bordes sin estilo del contenedor html*/
    * {
        padding: 0;
        margin: 0;
    }

    /*Divide el cuerpo en tres filas y una columna y se bloquea el scroll de la página web*/
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3.5fr 15fr 2.5fr;
        overflow: scroll;
    }

    /*Este estilo se aplica para la parte de la cabecer en 5 columnas y una fila.*/
    header {
        padding-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    /*Este estilo tiene la misma funcionalidad que el header ya que se necesita el mismo ajuste para que quede como deseamos*/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    /*Comprueba si el DNI introducido en el login es correcto y si no lo es te muestra un error de color rojo*/
    #dni_error {
        color: red;
    }

    /*Al igual que en el DNI, este estilo comprueba la contraseña y si no es correcta te muestra un error de color rojo*/
    #password_error {
        color: red;
    }

    /*Estos ajustes se aplican a la parte main de las páginas para darle un color de fondo en concreto y centrando todos los objetos que se encuentren en ella*/
    main {

        padding-bottom: 34%;
        padding-top: 5%;
        text-align: center;
        grid-row-start: 2;
        grid-row-end: 2;
        background-image: linear-gradient(to bottom right, #F0F0F0, #A8FFC1);

    }

    /*Se aplica a todas las etiquetas h1 del proyecto para darle unos ajuste de fuente en concreto*/
    h1 {
        font-family: 'Courgette', cursive;
        font-weight: bold;
        font-size: 300%;
        font-style: italic;
        color: rgb(24, 24, 24);
        margin-bottom: 5%;
    }

    /*Se aplica a los formlarios del proyecto dandoles una altura en concreto*/
    form {
        height: 50%;
    }

    /*Este ajuste le da estilo a los input del proyecto para que queden como nosotros deseamos */
    input {
        font-size: 75%;
        outline: none;
        width: 75%;
        height: 20%;
        margin-bottom: 1%;
    }

    /*Estos estilos van ligados al header ya que son las imagenes que lo componen y se establece la ruta de la imagen que queremos que aparezca*/
    #img_header0,
    #img_header1,
    #img_header3,
    #img_header4 {
        padding-top: 0;
        background-image: url("Fondo.png");
        background-size: 100%;
    }

    /*Este es el estilo del logo principal que aparece en todas las paginas del proyecto*/
    #img_header2 {
        padding-top: 0;
        background-image: url("Logo.png");
        background-size: 90%;
        background-position: center;
    }

    /*Estos ajustes van ligados al footer ya que al igual que el header son las imagenes que componen el pie de pagina*/
    #img_footer0,
    #img_footer1,
    #img_footer2,
    #img_footer3,
    #img_footer4,
    #img_footer5 {
        padding-top: 0;
        background-image: url("Fondo.png");
        background-size: 100%;
    }

    /*Se aplica al campo usuario del login para ajustarlo donde queremos*/
    #usuario {
        margin-top: 7.5%;
    }

    /*Es el mismo estilo que el campo usuario del login pero para la contraseña*/
    #password {
        margin-top: 3.5%;
    }

    /*Le da estilo al boton acceder del login dandole el estilo que va a juego con la pagina*/
    #acceder {
        margin-top: 10%;
        font-size: 100%;
        outline: none;
        width: 40%;
        height: 30%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }

    /*Se aplica a la seccion main de la pagina de administrador*/
    main.mainAdmin {
        padding-bottom: 15%;
        padding-top: 10%;
    }

    /*Se aplica a los botones de la pagina de administrador*/
    input.admin {
        margin-top: 10%;
        margin-bottom: 5%;
        width: 60%;
        height: 10%;
    }

    /*Este estilo es especifico para el boton salir de la pagina de administrador*/
    input.adminSalir {
        margin-top: 25%;
        margin-bottom: 15%;
        width: 40%;
        height: 10%;
    }

    /*Se utiliza para darle margin al h1 de admin*/
    h1.adminH1 {
        margin-bottom: 2%;
    }

    /*Este es estilo se aplica al main del admin top*/
    main.adminTopMain {
        padding-bottom: 15%;
        padding-top: 5%;
    }

    /*Se aplica a los input de admin top*/
    input.adminTop {
        margin-top: 2.5%;
        margin-bottom: 5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 60%;
        height: 10%;
    }

    /*Se aplica a el boton de salir de la pagina de admin top*/
    input.adminTopSalir {
        margin-top: 7.5%;
        margin-bottom: 25%;
        width: 40%;
        height: 10%;

    }

    /*Este estilo se usa al admin top a los bloques h1*/
    h1.adminTopH1 {
        margin-bottom: 2%;
    }

    /*Se utiliza para la pagina alumno en el bloque main*/
    main.alumnoMain {
        padding-bottom: 15%;
        padding-top: 10%;
    }

    /*se utiliza para lo input de la pagina alumno*/
    input.alumno {
        margin-top: 10%;
        margin-bottom: 5%;
        width: 60%;
        height: 10%;
    }

    /*Se utiliza para el boton de salir de la pagina alumno*/
    input.alumnoSalir {
        margin-top: 25%;
        margin-bottom: 15%;
        width: 40%;
        height: 10%;

    }

    /*Se utiliza para los bloques de h1 de la pagina de alumno*/
    h1.alumnoH1 {
        margin-bottom: 2%;
    }

    /*Este estilo al igual que los anteriores se aplica para el bloque main de la pagina profesor*/
    main.profesorMain {
        padding-bottom: 15%;
        padding-top: 5%;
    }

    /*Se aplica a los input de la pagina profesor*/
    input.profesor {
        margin-top: 2.5%;
        margin-bottom: 5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 60%;
        height: 10%;
    }

    /*Se aplica al boton de salir de la pagina profesor*/
    input.profesorSalir {
        margin-top: 7.5%;
        margin-bottom: 25%;
        width: 40%;
        height: 10%;

    }

    /*Se aplica a los h1 de la pagina de profesor*/
    h1.profesorH1 {
        margin-bottom: 2%;
    }

    /*Este estilo se aplica a los main con id gestion*/
    main.Gestion {
        padding-bottom: 30%;
        padding-top: 20%;
    }

    /*Se aplica a todos los input con el id ginput*/
    input.Ginput {
        margin-top: 1%;
        margin-bottom: 6%;
        width: 60%;
        height: 20%;
    }

    /*Se aplica a los input con el id ginput salir*/
    input.GinputSalir {
        margin-top: 20%;
        margin-bottom: 20%;
        width: 40%;
        height: 20%;
    }

    /*Se aplica a todos los h1 de los cruds*/
    h1.crudH1 {
        margin-bottom: 0;
        font-size: 300%
    }

    /*Este estilo se aplica al bloque main del crud usuario*/
    main.crudMainUsuario {
        padding-bottom: 25%;
        padding-top: 5%;
    }

    /*Se aplica a los input de usuario*/
    input.inputUs {
        font-size: 100%;
        outline: none;
        width: 70%;
        height: 15%;
        margin-top: 5%;
        margin-bottom: 0;
        margin-right: 1%;
    }

    /*Este estilo es para el boton de enviar de la pagina de usuario*/
    input.inputUsEnviar {
        margin-top: 10%;
        margin-bottom: 1%;
        font-size: 100%;
        outline: none;
        width: 45%;
        height: 15%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }

    /*Este estilo se utiliza para el boton volver de la pagina de usuario*/
    input.inputUsVolver {
        margin-top: 5%;
        margin-bottom: 8%;
        font-size: 100%;
        outline: none;
        width: 30%;
        height: 15%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }

    /*Se aplica a los bloques main de los cruds*/
    main.crudMain {
        padding-bottom: 30%;
        padding-top: 10%;
    }

    /*Se aplica a los input de el crud de grupos*/
    input.inputGr {
        font-size: 100%;
        outline: none;
        width: 70%;
        height: 20%;
        margin-top: 5%;
        margin-bottom: 0;
        margin-right: 1%;
    }

    /*Este estilo es para el boton enviar del crud de grupos*/
    input.inputGrEnviar {
        margin-top: 10%;
        margin-bottom: 1%;
        font-size: 100%;
        outline: none;
        width: 45%;
        height: 20%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }

    /*Este estilo es para el boton volver del crud de grupos*/
    input.inputGrVolver {
        margin-top: 5%;
        margin-bottom: 8%;
        font-size: 100%;
        outline: none;
        width: 30%;
        height: 20%;
        border: solid 2px #78C48D;
        border-radius: 50px;
        background-color: #a7fabe;
    }
}

@media screen and (max-width: 872px) {

    body {
		padding-top:80px;
	}


	.menuMovil {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background-image: url("Fondo.png");
	}

	.menuMovil .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menuMovil span {
		float: left;
		font-size: 40px;
        margin-left: 10px;
	}

	#navMovil {
        display: block;
		width: 100%;
		height: 120%;
		position: absolute;
		left: -100%;
		margin: 0;
		overflow: scroll;
        background-image: url("Fondo.png");
	}

	#navMovil ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	#navMovil ul li a {
		color:#fff;
        display:block;
        text-decoration:none;
        padding: 20px;
	}

	#navMovil ul li:hover .children {
		display: none;
	}

	#navMovil ul li .children {
		width: 100%;
		position: relative;
        display: none;
        background:#011826;
        z-index:1000;
	}

	#navMovil ul li .children li a {
		margin-left:20px;
	}

	#navMovil ul li .caret {
		float: right;
        position: relative;
        top:3px;
        margin-left:1px;
        margin-right:-5px;
	}

    #navMovil ul li .children li a span {
        float: right;
        position: relative;
        top:3px;
        margin-right:0;
        margin-left:10px;
    }

    .menuAdminTop{
        display: none;
    }

    .menuAdmin{
        display: none;
    }

    #menuProfesor{
        display: none;
    }

    #navMovil ul li:hover{
        background:#E6344A;
    }
}
