Options -Indexes

<IfModule mod_rewrite.c>
  Deny from 192.168.4.52
  Options +FollowSymlinks
  RewriteEngine On

  #Redireccion al Login
  RewriteRule ^inicio$ index.php [L,NC]

  #Redirecciones inicio de sesion desde distintos usuarios
  RewriteRule ^alumno$ PaginasUsuario/Alumno.php [L,NC]
  RewriteRule ^admins$ PaginasUsuario/Admin.php [L,NC]
  RewriteRule ^profesores$ PaginasUsuario/Profesor.php [L,NC]
  RewriteRule ^superAdmins$ PaginasUsuario/Admin_top.php [L,NC]

  #Redirecciones desde la pagina profesor
  RewriteRule ^gestionarAlumno$ Gestiones/GestionarAlumno.php [L,NC]
  RewriteRule ^verRespuesta$ Preguntas/verRespuestas.php [L,NC]
  RewriteRule ^anadirAlumno$ CRUDS/Alumnos/CrearAlumno.php [L,NC]
  RewriteRule ^listarAlumno$ CRUDS/Alumnos/ListarAlumnos.php [L,NC]
</IfModule>

